{% extends "base.html" %}
{% block title %}ログイン{% endblock %}

{% block content %}
<h2>ログイン</h2>
<form method="post" class="w-25">
  <div class="mb-3">
    <label class="form-label">ユーザー名</label>
    <input type="text" name="username" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">パスワード</label>
    <input type="password" name="password" class="form-control" required>
  </div>
  <button class="btn btn-primary w-100">ログイン</button>
</form>
{% endblock %}
